<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>integrationChazki</name>
	<displayName><![CDATA[Integration Chazki]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Integration of chazki for acount of service]]></description>
	<author><![CDATA[Chazki]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
